<div class="container">
  <div class="tab-content" id="where">
    <h1>WHERE DO YOU WANT TO GO?</h1>
    <div class="padded">
      <%= simple_form_for @team, defaults: { input_html: { class: 'input-container' } } do |f| %>
      <%= f.input :city_id, collection: City.all, prompt: "PICK A CITY", label: false, input_html: { class: "disable-form-control" }  %>
    </div>
    <a class="tab active btn-main text-center" data-target="#when">CONFIRM</a>
  </div>

  <div class="tab-content hidden" id="when">
    <h1>WHEN ARE YOU GOING?</h1>
    <h2>Select your dates</h2>
    <div class="padded">
    <%= f.input :start_date, :as => :date_picker, placeholder: "Start date", input_html: { class: "disable-form-control" } %>
    <%= f.input :end_date, :as => :date_picker, placeholder: "End date", input_html: { class: "disable-form-control" } %>
    </div>
    <a class="tab btn-main" data-target="#who">CONFIRM</a>
  </div>

  <%#= f.input :title, placeholder: "Choose a file", label: 'Team name', wrapper: :p_wrapper%>
  <%#= f.input :team_picture, label: 'Choose a team picture', label_html: { class: "btn-medium", style: "font-weight: normal !important"} %>
  <%#= f.input :team_picture_cache, as: :hidden %>

  <div class="tab-content hidden" id="who">
    <h1>INVITE YOUR TRAVEL BUDDIES</h1>
    <h2>Add their email adresses, </h2>
    <h2>they will get an invitation!</h2>

    <%= f.submit "Confirm", :class => "btn-main" %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
<% end %>
