<div class="content row-no-padding white-bg">
  <div class="row ">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="row">
        <div class="col-xs-3 text-center">
          <%= link_to user_path(current_user) do %>
          <% if current_user.facebook_picture_url.nil? %>
          <% unless current_user.profile_picture.nil?  %>
          <% if current_user.profile_picture.present? %>
          <%= cl_image_tag current_user.profile_picture, class: "avatar-nav", crop: :fill %>
          <% else %>
          <%= cl_image_tag("default_fkhyps.png", class: "avatar-nav") %>
          <% end %>
          <% end %>
          <%else %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar-nav", crop: :fill %>
          <% end %>
          <% end %>
        </div>
        <div class="col-xs-9 paddingtotheright ">
          <ul class="list-inline profile liltop">
            <li><%= current_user.first_name.capitalize %></li>
            <li class="profile-inline"><%= current_user.last_name.capitalize %></li>
            <li class="little-dates"><%= current_user.user_score %></li>
          </ul>
          <%= link_to "Edit profile", edit_user_path(current_user), method: :get, class: "profile opacity" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h6>My Trips</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">

    <% if current_user.members.count > 0 %>
    <% current_user.members.each do |member| %>
    <%= render "card", member: member %>
    <%end %>
    <% else %>
    <h6 class="text-center"> You didn't create any trip yet !</h6>
    <% end %>

  </div>
  <div id="bottom" class="bottommenup text-center">
    <%= link_to "Start a new trip", new_team_path, class: 'btn-red' %>
  </div>
</div>
