<div class="navbar-wagon">
  <%= link_to "", root_path, class: "navbar-wagon-brand" %>
  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
    <!-- Profile picture and dropdown -->
    <div class="navbar-item">
      <% if current_user.profile_picture.present? %>
      <%= image_tag current_user.profile_picture, class: "avatar", :onclick => "openNav()" %>
      <% else %>
      <%= image_tag ("default.png"), class: "avatar", :onclick => "openNav()" %>

      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
        <% end %>

        <ul class="overlay-content">
          <li><%= link_to "HOME", root_path %></li>
          <li>
            <%= link_to user_path(current_user) do %>
            <%= t(".profile", default: "MY PROFILE") %>
            <% end %>
          </li>
          <li><h5>MY TRIPS</h5></li>
          <ul>
            <% current_user.teams.each do |t| %>
            <li><%= link_to t.title, team_challenges_path(t), method: :get if t.in_trip? %></li>
            <% end %>
            <li>
            </ul>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "LOG OUT") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <% else %>

    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "navbar-item navbar-link btn-border" %>
    <% end %>

    <!-- Mobile friendly -->

    <% if user_signed_in? %>
    <div class="navbar-item hidden-md hidden-lg">
      <i class="fa fa-bars" aria-hidden="true" onclick="openlilNav()"></i>
      <%# if current_user.profile_picture.present? %>
      <%#= image_tag current_user.profile_picture, class: "avatar", :onclick => "openlilNav()" %>
      <%# else %>
      <%#= image_tag ("default.png"), class: "avatar", :onclick => "openlilNav()" %>

      <div id="mylilNav" class="verticaloverlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closelilNav()"></a>
        <%# end %>
        <ul class="overlay-content">
          <div class="row">
            <div class="col-xs-4">
              <% if current_user.facebook_picture_url.nil? %>
              <% unless current_user.profile_picture.nil?  %>
              <% if current_user.profile_picture.present? %>
              <%= cl_image_tag current_user.profile_picture, class: "avatar-nav", crop: :fill %>
              <% else %>
              <%= cl_image_tag("default_fkhyps.png", class: "avatar-nav") %>
              <% end %>
              <% end %>
              <%else %>
              <%= image_tag current_user.facebook_picture_url, class: "avatar-nav", crop: :fill %>
              <% end %></div>
              <div class="col-xs-8">
                <ul class="list-inline">
                  <li><p><%= current_user.first_name.capitalize %></p></li>
                  <li><p><%= current_user.last_name.capitalize %></p></li>
                </ul>
                <p>SCORE <%= current_user.user_score %></p>
              </div>
            </div>

            <li>MY TRIPS</li>
            <ul>
              <% current_user.teams.each do |t| %>
              <li><%= link_to t.city.name.upcase, team_path(t), method: :get if t.in_trip? %>
                <%= t.start_date.strftime("%d")%> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <%= t.end_date.strftime("%d-%m") %>
              </li>
              <% end %>
              <li>
              </ul>
              <li><%= link_to "Start a new trip", root_path %></li>
              <li><hr></li>
              <li><%= link_to "Edit my profile", edit_user_path(current_user)%></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
              <li><hr></li>
              <li>About</li>
              <li>Contact us</li>
              <li><ul class="list-inline">
                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fa fa-youtube" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>

              </ul></li>


            </ul>
          </div>
        </div>

        <% else %>

        <div class="navbar-item hidden-md hidden-lg">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
              <li>
               <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item navbar-link" %>
             </li>
           </ul>
         </div>
       </div>
       <% end %>
     </div>
   </div>
 </div>
